{
	"openapi": "3.1.0",
	"info": {
		"title": "API MARCHAND EASYTRANSFERT",
		"description": "Collection pour l'API EASYTRANSFERT BUSINESS API V1\n\nDocumentation: https://documenter.getpostman.com/view/23936159/2s84DoT3w1\n\nBASE_URL: http://proxy-airtime.easytransfert.app/api_v1/transaction\n\n**Prérequis:**\n- Clé API valide\n- Pour Cashout: au moins un wallet opérateur configuré\n- Pour Cashin: suffisamment de fonds sur le compte partenaire",
    "version": "1.0.0"
	},
	"servers": [
		{
			"url": "http://proxy-airtime.easytransfert.app/api_v1/transaction"
		}
	],
  "paths": {
    "/airtime": {
      "post": {
        "description": "Il s'agit ici de l'initialisation d'une transaction de type Cash-out (paiement) ou Cash-in (transfert)",
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "amount":{
                    "type": "integer",
                    "description": "Montant de la transaction (doit être un multiple de 100)",
                    "examples": [500]
                  },
                  "api_key":{
                    "type": "string",
                    "description": "Votre clé d'API",
                    "examples": ["xxxxxxxxxxxxxxxxxxx"]
                  },
                  "destination":{
                    "type": "string",
                    "description": "Numéro de téléphone du payeur (pour le paiement) numéro du recepteur (pour le transfert sans l'indicatif (225)",
                    "examples": ["0103444777"]
                  },
                  "ipn_url":{
                    "type": "string",
                    "description": "Url de notifaction. Sur cette url vous recevrez les status des opérations de cashin ou cashout",
                    "examples": ["https://webhook.site/6da1dcfa-4cb2-4fb9-991a-8a841e246803"]
                  },
                  "service_id": {
                    "type": "integer",
                    "description": "Le numéro du service que vous souhaitez consommer",
                    "examples": [
                      12
                    ]
                  },
                  "custom_data": {
                    "type": "string",
                    "description": "Il s'agit de données que vous souhaitez envoyer en plus dans la requette. cette données vous sera retourné dans l'IPN"
                  },
                  "om_otp": {
                    "type": "string",
                    "description": "À utiliser uniquement avec les service_id 27,29 et 23 cashout orange money. Il s'agit du code d'autorisation du débit obtenu par le client en composant #144*82# (pour la cote d'ivoire) ou le #144#391# (pour orange sénégal). La donnée doit être envoyée en chaine de caractère. Exemple otp: 1234 ==> om_otp: \"1234\""
                  }
                },
                "required": [
                  "amount",
                  "api_key",
                  "destination",
                  "ipn_url",
                  "service_id"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request Error"
          },
          "500": {
            "description": "Internal Error"
          }
        }
      }
    }
  }
}

